.card-img-top {
    height: 214px;
}

.height-cbody {
    height: 214px;
}

.button {
    position: absolute;
    bottom: 15px;
}

.btn-outline-secondary {
    margin-right: 7px;
}

.link {
    text-decoration: none;
    color: #6c757d;
}

.cards {
    position: relative;
}

.about-btn {
    border-radius: 50%;
}

.card2 {
    margin-top: 20px;
}

.card3 {
    margin-top: 20px;
}

.cardEducation {
    margin-bottom: 40px;
}